div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row#banner-new
      .col-sm-12
        h1 Startup
        h4 This is how you startup.
        a(href='#')
          button.btn.btn-default.btn-lg
            | Do it now!
hr

div
  .row
    .col-sm-4.center
      h3
        span.glyphicon.glyphicon-search.pad-right-sm
        | Discover
    .col-sm-4.center
      h3
        span.glyphicon.glyphicon-heart.pad-right-sm
        | Subscribe
    .col-sm-4.center
      h3
        span.glyphicon.glyphicon-play.pad-right-sm
        | Watch
  hr
  .row
    .col-sm-3
    .col-sm-6.center
      h1
        | Why Startup?
      p
        | Because you have to.

div(ng-include='"components/footer/footer.html"')