div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  img(src='https://d2pnn7clgn6qxc.cloudfront.net/assets/slider/washed-jeans-stack-ba914286bd29f71f44a879705faefd3e.jpg')
  .container
    .row#banner-content
      .col-sm-12
        h1 Find your perfect fit
        br
        h4 Search our selection of the finest jeans to lookup and update fitting. 
        br
        br
        .row
          .col-sm-4
          .col-sm-4
            div.input-group
              input.form-control(type='text', ng-model='searchbox.text', placeholder='Find your jeans')
              div.input-group-btn.dropdown
                button.btn.btn-no.dropdown-toggle(type='button', data-toggle='dropdown', style='height:34px;')
                  | All&nbsp;
                  .caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      | All
                  li
                    a(href='#')
                      | Nudies
                  li
                    a(href='#')
                      | Levis
                  li
                    a(href='#')
                      | Seven
                button.btn.btn-round-right-sm(type='submit', style='background-color:rgb(247, 120, 107); color:white; border-color:rgb(247, 120, 107); height:34px;')
                  //span.glyphicon.glyphicon-search
                  | Go!

div(ng-include='"components/footer/footer.html"')