div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  img(src='https://d2pnn7clgn6qxc.cloudfront.net/assets/slider/washed-jeans-stack-ba914286bd29f71f44a879705faefd3e.jpg')
  .container
    .row#banner-content
      .col-sm-12
        //.img(src='http://anf.scene7.com/is/image/anf/anf-T-20150702-category-mens-lineup-v2')

        h1 Fitonpoint
        br
        h4 Find your perfect fit.
        br
        br
        .row
          .col-sm-4
          .col-sm-4
            // TODO: horizontally align bars
            // TODO: make drop down disappear when I click elsewhere.
            div.input-group
              input.form-control(type='text', ng-model='searchbox.text', placeholder='Find your jeans')
              div.input-group-btn(ng-class='{open: open}', style='color:black')
                button.btn.btn-no.dropdown-toggle(type='button', data-toggle='dropdown', ng-click='open=!open')
                  | All 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#')
                      | All
                  li
                    a(href='#')
                      | Nudies
                  li
                    a(href='#')
                      | Levis
                  li
                    a(href='#')
                      | Seven
                button.btn.btn-round-right-sm(type='submit')
                  //span.glyphicon.glyphicon-search
                  | Go!

div(ng-include='"components/footer/footer.html"')