div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-3
    .col-md-6
      h4.center
        | About
      p
        | This is the part where we tell you what this whole website is about. Not sure what else to say but that's what it is.

div(ng-include='"components/footer/footer.html"')